<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="container">
        <nav id="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user/register" target="_blank">register</a></li>
                <li><a href="/user/login" target="_blank">login</a></li>
            </ul>
        </nav>
        <div class="text">
            <h1>Simple Regester And Login Page with Node JS and EJS</h1>
            <button class="btn"><a href="https://www.linkedin.com/in/priyesh-rai
                " target="_blank">Follo Me</a></button>
        </div>
    </section>
    
</body>
</html>