<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../css/user.register.css">
</head>
<body>
    <section class="container">
        <div class="card">
            <div class="heading">
                <h1>Register Now</h1>
            </div>
            <div class="forms">
                <form action="/user/register" method="post">
                    <input type="text" name="name" placeholder="Name" class="inputs">
                    <input type="text" name="username" placeholder="Username" class="inputs">
                    <input type="email" name="email" placeholder="Email" class="inputs">
                    <input type="password" name="password" placeholder="Password" class="inputs">
                    <button type="submit" class="btn">submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>