<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h1>Register Now</h1>

    <form action="/user/register" method="post">
        Name:<input type="text" name="name">
        email:<input type="text" name="email">
        username:<input type="text" name="username">
        password:<input type="password" name="password">
        <button type="submit">submit</button>
    </form>
</body>
</html>